.root {
  width: 100%;
  height: 100%;
  background: #ccc;
  overflow: hidden;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  height: 0;
  /* padding-top: 100%; */
}

.item {
  /* width: 100px;
    height: 100px; */
  position: absolute;
  left: 0;
  top: 0;

  cursor: pointer;

  transition: transform 0.5s;

  text-align: center;
  font-size: 10px;
  color: #999;

  border: 1px dashed #fff;
  box-sizing: border-box;
}

.item:hover {
  border: 3px aquamarine dashed;
}

.icon {
  width: 100px;
  height: 100px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.select {
  /* border:1px solid aquamarine inset; */
  border: 3px aquamarine dashed;
}

.remove {
  opacity: 0;
}

.removing {
  background-color: rgba(255, 0, 0, 0.5);
}

.removed {
  opacity: 0;
  transition: 0s !important;
}
