.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  border: 1px red dashed;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
}

.item {
  /* width: 100px;
    height: 100px; */
  position: absolute;
  left: 0;
  top: 0;

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.3s;

  text-align: center;
  /* line-height: 170px; */
  font-size: 10px;
  color: #999;

  border: 1px dashed #fff;
  box-sizing: border-box;
}

.item:hover {
  border: 1px aquamarine dashed;
}

.icon {
  width: 100px;
  height: 100px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 100%; */
}

.select {
  /* border:1px solid aquamarine inset; */
  border: 1px aquamarine dashed;
}

.remove {
  opacity: 0;
}

.removed {
  opacity: 0;
  transition: 0s !important;
}
