.root {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  height: 0;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;

  /* padding-top: 100%; */
}

.item {
  /* width: 100px;
    height: 100px; */
  position: absolute;
  left: 0;
  top: 0;

  cursor: pointer;

  transition: transform 0.5s;

  text-align: center;
  font-size: 10px;
  color: #999;

  border: 3px dashed transparent;
  box-sizing: border-box;
}

.item:hover {
  border: 3px aquamarine dashed;
}

.icon {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

.select {
  /* border:1px solid aquamarine inset; */
  border: 3px aquamarine dashed;
}

.remove {
  opacity: 0;
}

.removing {
  background-color: rgba(255, 128, 0, 0.5);
}

.removed {
  opacity: 0;
  transition: 0s !important;
}

.header {
  padding: 16px;
  font-size: 16px;
  color: #789;
  display: flex;
  justify-content: space-between;
}

.start {
  cursor: pointer;
  margin: 100px auto;
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px;
  background-color: aquamarine;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  color: #fff;
}
